@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-heading: "Sora", sans-serif;
}

/* Reusable components */

.btn-primary {
  @apply rounded-lg bg-indigo-500 px-5 py-2 font-medium text-white shadow-md transition hover:scale-105 hover:bg-indigo-600;
}

.form {
  @apply m-6 w-80 max-w-112.5 rounded-3xl border border-gray-600 bg-gray-800 p-8 shadow-xl backdrop-blur-md md:min-w-110;
}

@utility autofill-fix {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #111827 inset;
    -webkit-text-fill-color: white;
    font-family: inherit;
    font-size: inherit;
  }
}
